html,
body {
  overflow-x: hidden;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  background: var(--main);
  border-radius: 10px;
}

a {
  text-decoration: none;
}

#root {
  height: 100vh;
  padding: 20px;
  position: absolute;
  inset: 0;
}

.logo {
  place-items: center;
  -ms-grid-columns: 55px auto;
      grid-template-columns: 55px auto;
  width: 200px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo .logo_main {
  background: rgba(220, 20, 60, 0.1);
  border-radius: 50px 50px 50px 0px;
  font-family: "Seaside Resort NF";
  color: #dc143c;
  width: 55px;
  height: 55px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1em;
  margin-right: 20px;
}

.logo .logo_text {
  font-family: "Gisha";
  font-weight: bold;
  font-size: 0.8em;
  color: black;
}

.loading-enter {
  opacity: 0;
}

.loading-enter-active {
  opacity: 1;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}

.loading-exit {
  opacity: 1;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}

.loading-exit-active {
  opacity: 0;
}

.auth {
  position: relative;
  height: 100vh;
}

.auth .banner {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100%;
}

.auth .banner .banner-container {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth .banner .banner-container img {
  width: clamp(300px, 100%, 600px);
  height: auto;
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  z-index: -1;
}

.auth .auth-wrapper {
  overflow: hidden;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.auth .auth-wrapper,
.auth .banner-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  padding: 20px;
}

.auth.split .auth-wrapper,
.auth.split .banner-wrapper {
  width: 50%;
}

.auth.split .auth-wrapper {
  left: 50%;
}

.auth.split .banner-container {
  gap: 0;
}

.auth .signin,
.auth .signup {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.auth h1 {
  font-family: "Gisha";
  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.auth form {
  width: 100%;
  max-width: 400px;
  display: -ms-grid;
  display: grid;
  gap: 25px;
  padding: 20px;
}

.auth form .input_feild {
  font-size: 22px;
  border-bottom: 3px solid #777;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth form .input_feild svg {
  stroke: #777;
  color: #777;
  overflow: visible;
}

.auth form .input_feild input {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: 500;
}

.auth form .input_feild input::-webkit-input-placeholder {
  color: #777;
}

.auth form .input_feild input:-ms-input-placeholder {
  color: #777;
}

.auth form .input_feild input::-ms-input-placeholder {
  color: #777;
}

.auth form .input_feild input::placeholder {
  color: #777;
}

.auth form .or {
  text-align: center;
  color: #777;
  font-weight: 500;
  font-family: Gisha;
  position: relative;
  text-transform: uppercase;
}

.auth form .or span {
  padding: 6px 10px;
  background: white;
}

.auth form .or::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  background: #777;
  left: 0;
}

.auth form .others {
  display: -ms-grid;
  display: grid;
}

.auth form .others .other {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  background: rgba(220, 20, 60, 0.1);
  gap: 20px;
  padding: 10px;
  border-radius: 10px;
  place-items: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.auth form .others .other:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.auth form .others .other p {
  margin: 0;
  font-family: Gisha;
  font-weight: bold;
}

.signup-tab-enter {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

.signup-tab-enter-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}

.signup-tab-exit {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}

.signup-tab-exit-active {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
}

.signin-tab-enter {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.signin-tab-enter-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}

.signin-tab-exit {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 500ms;
}

.signin-tab-exit-active {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.signup,
.signin {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 760px) {
  .auth form .others .other {
    padding: 8px;
  }
  .auth form .others .other p {
    font-size: 14px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

p {
  margin-bottom: 0;
}

.btn {
  border: none;
  outline: none !important;
  font-size: 20px;
  padding: 0.6em 1.2em;
  border-radius: 10px;
  width: clamp(300px, 100%, 400px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-fill {
  background: #dc143c;
  color: white;
}

.btn-outline {
  background: none;
  border: 2px solid #dc143c;
  color: #dc143c;
}

.btn:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  color: white;
}

.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.loader-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.603);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 999999;
  padding: 0px 30px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.loader-wrapper {
  width: clamp(100px, 100%, 400px);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span.loader {
  display: inline-block;
  width: 10px;
  height: 100%;
  background: #dc143c;
  border-radius: 5px;
  -webkit-animation: grow 1s ease-out infinite;
          animation: grow 1s ease-out infinite;
  -webkit-animation-delay: calc(var(--i) * 0.05s);
          animation-delay: calc(var(--i) * 0.05s);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes grow {
  0% {
    height: 10%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 10%;
  }
}

@keyframes grow {
  0% {
    height: 10%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 10%;
  }
}

.tabs {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .signout-btn {
  width: auto;
  font-weight: bold;
  font-size: 16px;
  padding: 0.2em 1.3em;
}

.nav .logo_main {
  width: 49px;
  height: 49px;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  height: 100%;
}

.main-pannel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-size: 10px;
}

.tabs .user-details {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  background: rgba(220, 20, 60, 0.1);
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  text-align: center;
  font-family: "Gisha";
}

.tabs .user-details .profilePic {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.tabs .user-details .profilePic img,
.tabs .user-details .profilePic .alt {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tabs .user-details .profilePic .alt {
  font-size: 60px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #dc143c;
  color: white;
}

.tabs .user-details .user-display-name {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.tabs .user-details .user-email {
  font-size: 1.2em;
  font-weight: normal;
}

.tabs .groups .groups-header {
  font-weight: bolder;
  font-size: 1.4em;
}

.tabs .groups .groups-header span {
  background: #dc143c;
  padding: 2px 5px;
  border-radius: 3px;
  color: white;
}

.tabs .groups .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-radius: 10px;
}

.tabs .groups .group .group_profilePic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: white;
  background: #dc143c;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.tabs .groups .group .group_name {
  font-size: 18px;
  font-weight: bold;
  font-family: "Gisha";
  color: black;
  margin: 0;
}

.tabs .groups .group:hover {
  background: rgba(220, 20, 60, 0.1);
}

.user-online-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 1.6em;
  gap: 0.4em;
}

.user-online-status .online-status {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
}

.user-online-status .online-status.Online {
  background: #20ff45;
}

.user-online-status .online-status.Offline {
  background: #777;
}

.user-online-status .online-status.Idle {
  background: darkorange;
}

.chat-pannel {
  width: 100%;
  height: 100%;
  background: rgba(220, 20, 60, 0.1);
  border-radius: 10px;
  position: relative;
}

.form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: calc(100% - 20px);
  left: 10px;
  bottom: 10px;
  background: white;
  border-radius: 10px;
  min-height: 50px;
  padding: 5px;
  -webkit-box-shadow: 0px 2px 8px rgba(220, 20, 60, 0.1), 0px 2px 5px rgba(220, 20, 60, 0.1);
          box-shadow: 0px 2px 8px rgba(220, 20, 60, 0.1), 0px 2px 5px rgba(220, 20, 60, 0.1);
}

.form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 70px;
      grid-template-columns: auto 70px;
  gap: 10px;
  height: 100%;
  position: relative;
  min-height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form form .text-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form form .text-wrapper textarea {
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  resize: none;
  height: 30px;
  width: 100%;
  line-height: 1.3;
  max-height: 150px;
}

.form form button {
  background: #dc143c;
  border-radius: 5px;
  color: white;
  width: auto;
  padding: 0px 0.5em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  max-height: 40px;
  height: 100%;
}

.form form button svg {
  fill: white;
}

.messages {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: calc(100% - 70px);
  position: absolute;
  width: 100%;
}

.messages::-webkit-scrollbar {
  width: 10px;
}

.messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dc143c;
}

.messages .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.messages .message .bubble {
  max-width: 80%;
}

.messages .message .bubble .message_sender {
  font-size: 10px;
  color: #aaaaaa;
}

.messages .message .bubble .text {
  border-radius: 10px;
  padding: 10px 12px;
  font-size: 14px;
  font-weight: bold;
}

.messages .message .bubble .timestamp {
  font-family: Gisha;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  padding: 0px 5px;
}

.messages .message.sent {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.messages .message.sent .bubble .text {
  background: #424242;
  color: white;
}

.messages .message.sent .bubble .timestamp {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.messages .message.received {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.messages .message.received .bubble .text {
  background: white;
  color: #2b2b2b;
  -webkit-box-shadow: 0px 3px 15px rgba(220, 20, 60, 0.1);
          box-shadow: 0px 3px 15px rgba(220, 20, 60, 0.1);
}

.messages .message.received .bubble .timestamp {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.messages .message .img_profile {
  width: 46px;
  height: 46px;
  background: #dc143c;
  border-radius: 50%;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.messages .message .img_profile svg {
  fill: white;
  stroke-width: 0.5px;
  stroke: white;
}

.messages .message .img_profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.no_groups {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */