@import "./signup";
.auth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    .banner {
        display: grid;
        place-items: center;
        height: 100%;
        padding: 30px;
        .banner-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: clamp(300px, 100%, 600px);
                height: auto;
            }
        }
    }
}
