@import "./variables";

.dashboard {
    display: flex;
    gap: 20px;
    width: 100%;
}
.main-pannel {
    display: flex;
    gap: 10px;
    flex: auto;
    flex-direction: column;
}
.tabs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 10px;
    background: white;
    z-index: 99;
    .user-details {
        width: 250px;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        background: $main_faint;
        border-radius: 10px;
        justify-content: center;
        padding: 20px;
        text-align: center;
        font-family: $Gisha;

        .user-display-name {
            font-weight: bold;
            font-size: 2em;
            text-align: center;
        }
        .user-email {
            font-size: 1.2em;
            font-weight: normal;
        }
    }

    .groups {
        .groups-header {
            font-weight: bolder;
            font-size: 1.4em;
            span {
                background: $main;
                padding: 2px 5px;
                border-radius: 3px;
                color: white;
            }
        }
        .group_list {
            position: relative;
            max-height: calc(100vh - 410px);
        }

        .group {
            display: grid;
            align-items: center;
            padding: 10px;
            gap: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.5s ease-out;
            grid-template-columns: 45px auto;
            width: 100%;
            .group_name {
                font-size: 18px;
                font-weight: bold;
                font-family: $Gisha;
                margin: 0;
            }
            .group_text {
                flex: auto;
                max-width: 100%;
            }
        }
    }
}

.user-online-status {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.6em;
    gap: 0.4em;
    .online-status {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        &.Online {
            background: rgb(32, 255, 69);
        }
        &.Offline {
            background: $ashh;
        }
        &.Idle {
            background: darkorange;
        }
    }
}

.optionsIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .options_wrapper {
        position: relative;
    }
    svg {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.options_dropdown {
    position: absolute;
    width: 250px;
    left: 0;
    top: 0;
    transform: translateX(-110%);
    background: white;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(220, 20, 60, 0.1), 0px 2px 5px rgba(220, 20, 60, 0.1);
    transition: height 0.5s ease, transform 0.4s ease, opacity 0.4s ease;
    &::-webkit-scrollbar {
        width: 0px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        gap: 10px;
        padding: 20px;
        li.dropDown_item {
            display: grid;
            grid-template-columns: auto 30px;
            gap: 10px;
            align-items: center;
            cursor: pointer;
            align-items: center;
            padding: 10px;
            svg {
                width: 1em;
                height: 1em;
            }
        }
    }
}

@import "./chat";

.fade-enter {
    opacity: 0;
    transform: translateY(20px) translateX(-110%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0px) translateX(-110%);
}

.fade-exit {
    opacity: 1;
    transform: translateY(0px) translateX(-110%);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(30px) translateX(-110%);
}

.fade_no_trans-enter {
    opacity: 0;
}

.fade_no_trans-enter-active {
    opacity: 1;
}

.fade_no_trans-exit {
    opacity: 1;
}
.fade_no_trans-exit-active {
    opacity: 0;
}

.tab_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cancel {
        font-size: 16px;
        display: none;
        cursor: pointer;
    }
}

.ham {
    display: none;
}

@media only screen and (max-width: 700px) {
    .tabs {
        position: absolute;
        height: 100%;
        padding: 20px;
        transform: translateX(-100%);
        left: 0;
        top: 0;
        .cancel {
            display: inline-block;
        }
    }

    .ham {
        display: inline-block;
    }

    .optionsIcon {
        justify-content: space-between;
    }
}

.group_profilePic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: white;
    background: $main;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.messages {
    .head {
        .name {
            h5 {
                font-size: 20px;
                margin-bottom: 0px;
            }
            span {
                font-size: 10px;
            }
        }

        .group_profilePic {
            width: 100%;
            height: 100%;
        }
    }
}

.unread {
    justify-self: flex-end;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .unread_circle {
        border-radius: 50%;
        display: grid;
        place-items: center;
        width: 20px;
        height: 20px;
        background: $main;
        color: white;
        transform: scale(0);
        opacity: 0;
    }
}

.options_wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    position: relative;
}

.dropDown_item_notif {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    &:last-child {
        border-bottom: none;
    }
}

.notif_wrapper {
    width: 100%;
}

.slide-enter {
    // position: absolute;
    transform: translateX(-110%);
}
.slide-enter-active {
    transform: translateX(0%);
    transition: all 0.5s ease;
}
.slide-exit {
    position: absolute;
}
.slide-exit-active {
    transform: translateX(-110%);
    transition: all 0.5s ease;
}

.side-enter {
    position: absolute;
    transform: translateX(110%);
}
.side-enter-active {
    transform: translateX(0%);
    transition: all 0.5s ease;
}

.side-exit-active {
    position: absolute;
    transform: translateX(110%);
    transition: all 0.5s ease;
}

.action {
    margin-bottom: 16px;
    div {
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        display: grid;
        grid-template-columns: 20px auto;
        align-items: center;
        gap: 10px;
    }
}

.indicator {
    position: absolute;
    width: 15px;
    height: 15px;
    background: $main;
    top: -3px;
    right: -3px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s ease-out;
    display: grid;
    place-items: center;
    color: white;
    font-weight: bold;
    font-size: 10px;
    &.show {
        transform: scale(1);
    }
    &.hide {
        transform: scale(0);
    }
}

@media only screen and (max-width: 400px) {
    .options_dropdown {
        position: absolute;
        width: 80vw;
        left: auto;
        right: 0;
        top: 150%;
        transform: translateX(0%);
    }

    .fade-enter {
        opacity: 0;
        transform: translateY(20px);
    }

    .fade-enter-active {
        opacity: 1;
        transform: translateY(0px);
    }

    .fade-exit {
        opacity: 1;
        transform: translateY(0px);
    }
    .fade-exit-active {
        opacity: 0;
        transform: translateY(30px);
    }
}

.options_dropdown {
    max-height: 500px;
}

// mode

.mode_label {
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: auto;
    label {
        cursor: pointer;
        height: 100%;
        margin: 0;
        justify-content: center;
        svg {
            width: 13px;
            height: 13px;
        }
    }
}
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.toggle-slot {
    font-size: 1px;
    position: relative;
    height: 100%;
    width: 50px;
    border: 2px solid $main;
    border-radius: 20px;
    background-color: white;
    transition: background-color 250ms;
    // box-shadow: 0px 10px 10px -8px #dc143cff;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: white;
}

.toggle-button {
    transform: translate(29px, 3px);
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: $main;
    transition: background-color 250ms, border-color 250ms,
        transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    transform: translate(3px, 3px);
}

.sun-icon {
    position: absolute;
    height: 13px;
    width: 13px;
    color: $main;
}

.sun-icon-wrapper {
    position: absolute;
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translate(3px, 3px) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(28px, 3px) rotate(-60deg);
}

.moon-icon {
    position: absolute;
    height: 13px;
    width: 13px;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 13px;
    width: 13px;
    opacity: 0;
    transform: translate(3px, 3px) rotate(60deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(28px, 3px) rotate(15deg);
}

.message_blink {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0%,
    100% {
        background: transparent;
    }
    50% {
        background: rgba(255, 255, 255, 0.562);
    }
}
