@import "./variables";
.modal-custom {
    position: fixed;
    inset: 0;
    padding: 20px;
    transition: 0.5s ease;
    z-index: 1000;
    display: grid;
    place-items: center;
    .underlay {
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        inset: 0;
        backdrop-filter: blur(5px);
        transition: 0.3s ease-out;
    }
    .modal-content-custom {
        max-height: 90vh;
        background: white;
        position: relative;
        box-shadow: 0rem 0.5rem 1rem rgba(220, 20, 60, 0.301),
            0px 1.5rem 3rem rgba(220, 20, 60, 0.1);
        padding: 20px;
        border-radius: 10px;
        transition: 0.3s ease-out;
        overflow: auto;

        .close {
            position: absolute;
            top: 0rem;
            right: 0rem;
            padding: 0.5rem;
            border-radius: 0px 10px 0px 10px;
            background: $main;
            color: white;
            opacity: 1;
        }
    }

    input[type="file"] {
        display: none;
    }
    .modal-head {
        margin-right: 2rem;
        border-bottom: 1px solid #eee;
        padding: 10px 0;
    }

    h4 {
        margin-bottom: 16px;
    }
    label.profile_icon {
        width: 100px;
        height: 100px;
        display: grid;
        place-items: center;
        color: white;
        position: relative;
        cursor: pointer;
        .cover {
            overflow: hidden;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        img,
        .profile_icon_placeholder {
            border-radius: 50%;
            position: absolute;
            inset: 0;
            display: inline-grid;
            place-items: center;
            transition: 0.5s ease;
            svg {
                width: auto;
                height: auto;
            }
        }
        .profile_icon_placeholder {
            background: $main;
        }
        .loader-container {
            border-radius: 50%;
            z-index: 5;
            .loader {
                transform: scale(0.5);
            }
        }

        span.edit {
            position: absolute;
            bottom: 0rem;
            right: 0rem;
            border-radius: 50%;
            background: $main;
            color: white;
            display: inline-grid;
            width: 35px;
            height: 35px;
            border: 5px solid white;
            place-items: center;
            box-shadow: 0px 2px 5px rgba(220, 20, 60, 0.4);
            transition: 1s ease;
            z-index: 10;
            &:active {
                transform: scale(0.95);
            }
            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        position: relative;
        form {
            display: flex;
            flex-direction: column;
            .form_grid {
                display: grid;
                grid-template-columns: repeat(2, minmax(320px, 500px));
                padding: 20px 0px;
                gap: 30px;
                width: 100%;
                min-width: 340px;
                gap: 40px;
            }
        }

        .btn {
            align-self: flex-end;
        }
    }
    .group_details {
        display: grid;
        gap: 20px;
    }

    .modal_input_feild {
        input {
            padding: 5px 10px;
            border: none;
            border-bottom: 1px solid gray;
            transition: 0.5s ease;
            outline: none;
            font-size: 20px;
            width: 100%;
            &:focus {
                border-color: $main;
            }
        }
    }
}

.modal-anim-enter {
    opacity: 0;
}

.modal-anim-enter-active {
    opacity: 1;
}
.modal-anim-exit {
    opacity: 1;
}

.modal-anim-exit-active {
    opacity: 0;
}

.modal-content-anim-enter {
    transform: scale(0.8) translateY(20px);
}

.modal-content-anim-enter-active {
    transform: scale(1) translateY(0px);
}
.modal-content-anim-exit {
    transform: scale(1) translateY(0px);
}

.modal-content-anim-exit-active {
    transform: scale(0.9) translateY(-20px);
}

.profile_icon_switch_img-enter {
    opacity: 0;
    transform: scale(0.8);
}

.profile_icon_switch_img-enter-active {
    opacity: 1;
    transform: scale(1);
}
.profile_icon_switch_img-exit {
    opacity: 1;
    transform: scale(1);
}

.profile_icon_switch_img-exit-active {
    opacity: 0;
    transform: scale(0.8);
}
.profile_icon_switch_svg-enter {
    opacity: 0;
    transform: scale(0.8);
}

.profile_icon_switch_svg-enter-active {
    opacity: 1;
    transform: scale(1);
}
.profile_icon_switch_svg-exit {
    opacity: 1;
    transform: scale(1);
}

.profile_icon_switch_svg-exit-active {
    opacity: 0;
    transform: scale(0.8);
}

.bordered_input_box {
    position: relative;
    font-size: 1.2rem;
    input {
        padding: 14px 20px;
        border: 3px solid grey;
        border-radius: 10px;
        outline: none;
        width: 100%;
    }
    .label {
        left: 15px;
        top: 10px;
        position: absolute;
        transition: 0.3s ease-out, background 0s;
        padding: 5px 10px;
        pointer-events: none;
    }
    &.valid {
        input {
            border-color: $main;
        }
        .label {
            top: -15px;
            left: 10px;
            color: $main;
            background-color: white;
            font-size: 0.8rem;
        }
    }
}

.users_list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    li {
        display: grid;
        grid-template-columns: 50px auto 50px;
        gap: 20px;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: contain;
            object-position: center;
        }
        h6 {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .profilepic {
            position: relative;
            .user-online-status {
                position: absolute;
                top: 3px;
                left: 3px;
            }

            .profilePic {
                width: 50px;
                height: 50px;
                .alt {
                    font-size: 24px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .user {
            h5 {
                margin-bottom: 0px;
            }
            span {
                font-size: 12px;
            }
        }

        svg {
            width: 30px;
            height: 30px;
        }

        .add_user {
            padding: 10px;
            border-radius: 50%;
            transition: 0.5s ease-out;
            &.added {
                background: rgba(0, 163, 54, 0.582);
                svg {
                    transition: 0.5s ease-out;
                    color: white;
                }
            }
            &.red {
                background: $main;
                svg {
                    color: white;
                }
            }
        }
    }
}

.group_security {
    label {
        display: inline-block;
        width: 120px;
        padding: 5px;
        border-radius: 5px;
        position: relative;
        margin-right: 20px;
        cursor: pointer;
        overflow: hidden;
    }

    span.label {
        margin-left: 35px;
        z-index: 2;
        position: relative;
    }

    label input[type="radio"] {
        display: none;
    }

    label span.dot {
        width: 20px;
        height: 20px;
        display: inline-block;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
        border-radius: 50%;
        background: $main_faint;
        position: absolute;
        z-index: 2;
        border: 5px solid transparent;
        transition: 0.5s;
    }

    label span.bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: inline-block;
        background: $main_faint;
        transition: 0.5s;
    }

    label input[type="radio"]:checked ~ span.label {
        color: white;
    }
    label input[type="radio"]:checked ~ span.bg {
        background: $main;
    }
    label input[type="radio"]:checked ~ span.dot {
        border-color: rgb(255, 255, 255);
        background: none;
    }
}

@media screen and (max-width: 900px) {
    .create-group {
        form {
            .form_grid {
                grid-template-columns: 100% !important;
            }
        }
    }
    .modal-custom .form .btn {
        align-self: center;
    }
}

.join-group {
    width: clamp(300px, 100%, 500px);
    .join-group-wrapper {
        margin: 20px 0;
    }
}

.group-info {
    .profilePic {
        margin: 20px auto;
        box-shadow: 0px 3px 8px $main_faint;
        width: 200px;
        height: 200px;
        display: grid;
        place-items: center;
        color: white;
        position: relative;
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        .alt {
            width: 100%;
            height: 100%;
        }
    }

    .profilepic {
        position: relative;
        .user-online-status {
            position: absolute;
            top: 3px;
            left: 3px;
            z-index: 10;
        }

        .profilePic {
            margin: 0;
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (max-width: 500px) {
    .modal-custom {
        top: 0;
        left: 0;
        padding: 0;
        .form {
            .form_grid {
                align-items: center;
            }
        }
    }
    .modal-custom .modal-content-custom {
        width: 100%;
        height: 100%;
        max-height: 100%;
    }

    .modal-content-anim-enter {
        transform: translateY(110%);
    }

    .modal-content-anim-enter-active {
        transform: translateY(0px);
    }
    .modal-content-anim-exit {
        transform: translateY(0px);
    }

    .modal-content-anim-exit-active {
        transform: translateY(110%);
    }
}
