body {
    font-family: "Open Sans", sans-serif;
    color: #444;
    overflow-x: hidden;
    min-height: 100vh;
    background: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--main);
}

a {
    color: var(--main);
    text-decoration: none;
}

a:hover {
    color: var(--mainDark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Oregano", cursive, serif;
}

.show-enter {
    opacity: 0;
    transition: all 500ms;
}
.show-enter-active {
    opacity: 1;
    transition: all 500ms;
}
.show-exit {
    opacity: 1;
    transition: all 500ms;
}
.show-exit-active {
    opacity: 0;
    transition: all 500ms;
}
