.show-enter {
    opacity: 0;
    transition: all 500ms;
}
.show-enter-active {
    opacity: 1;
    transition: all 500ms;
}
.show-exit {
    opacity: 1;
    transition: all 500ms;
}
.show-exit-active {
    opacity: 0;
    transition: all 500ms;
}
